<ion-header >
  <ion-toolbar color="success">
    <ion-title>
      Grocery Delivery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
    <img src = "https://cf.shopee.ph/file/b53adb7f9474e620a3509178586815ce">
    <ion-card-title>Php 1500</ion-card-title>
    <ion-card-content>2 cans of Argentina Meatloaf, Spaghetti package, 6 packs of Tang sachets, Milo 600g pack, 1 Eden cheese, 3 555 tuna caldereta, 2 Knick Knacks 50g, 1 almond chocolate 25g, Surf Fabcon 1100g, 6 packs of noodles and Carefree, 1 10kg rice</ion-card-content>
    <ion-button color="success" routerLink='/user1'>Click here to proceed</ion-button>
    </ion-card>

    <ion-card>
      <img src = "https://cf.shopee.ph/file/d671cbf6cbddf7973ee4ec9b79173598">
      <ion-card-title>Php 500</ion-card-title>
      <ion-card-content>8 packs of coffee sachet, 7 canned goods, 1 Eden cheese twin pack, 1 pack macaroni, 8 packs of noodles, 1 Mang Tomas and UFC Banna Ketchup budget pack</ion-card-content>
      <ion-button color="success" routerLink='/user1'>Click here to proceed</ion-button>
    </ion-card>

    <ion-card>
      <img src = "https://cf.shopee.ph/file/fe52f36b231938ae57abdc646cb21c55">
      <ion-card-title>Php 1000</ion-card-title>
      <ion-card-content>1 Ls lava cake Choco 10's,
        1angel evap 140ml,
        1pack fita crackers,
        2 mega sardines green 155grams,
        2 mega red 155grams,
        1 ram pork n beans 165grams,
        1 nescafe classic 50grams,
        1 nestle Coffee mate 170grams,
        1 Sinigang sa Gabi 44grams,
        1 SInigang sa sampaloc 44grams,
        1 lady's choice chicken Spread,
        1del Monte tidbits pine apple,
        1 datu puti 350m vinegar,
        1datu puti soy sauce 350ml,
        1 UFC naman catsup 320grams,
        1nestle all purpose cream 250gram,
        1 mega tuna ( flakes n oil 155gram),
        1 macaroni salad 250grams,
        1 Philips sausage 70grams,
        1 Argentina corned beef 175 grams,
        1super q bihon,
        1 best food mayo magic 220ml,
        1eden cheese original 165 g+15gram,
        1 nestea lemon 25grams,
        1safe guard pure white 90grams,
        6pcs creamsilk pink conditioner,
        6pcs Palmolive shampoo,
        1pc luisito wash sugar 225 grams</ion-card-content>
      <ion-button color="success" routerLink='/user1'>Click here to proceed</ion-button>
      </ion-card>
  
</ion-content>
